[Unit]
Description=User cron.daily.  Run scripts in ~/.local/cron.daily every day at 2 am, and ~/.local/cron.weekly every Sunday at 2am.

[Service]
Type=oneshot
ExecStart=%h/.local/bin/user-cron-daily

